export PATH=$PATH:/home/martin/bin

#qtile settings
if [[ $DESKTOP_SESSION == "qtile" ]]; then
HDMI1_status=$(xrandr -q | awk '/^HDMI1/{print $2}')
if [[ $HDMI1_status == 'connected' ]]; then
	xrandr --output eDP1 --auto --output HDMI1 --auto --right-of eDP1 && bgdice
fi
fi

